@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed&display=swap');
body{
    background-color: #2e0d23;
}

.btn-primary{
    background-color: #f7803c;
    border: #f7803c;
    border-radius: 4px;
    color: #ffedbf;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
.btn-secondary{
    background-color: #f7803c;
    border: #f7803c;
    border-radius: 4px;
    color: #2e0d23;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

.contenedor-header{
    background-color: #2e0d23;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header nav ul{
    align-items: center;
    display: flex;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    justify-content:space-around;
    list-style: none;
}

.contenedor-header header nav ul li a{
    color: #ffedbf;
    padding: 3px;
    text-align: none;
    text-decoration: none;
    transition: .5s;
}

.contenedor-header header nav ul li a:hover{
    color: #f7803c;
    text-decoration: underline;
}

.contenedor-header header nav ul li #logo{
    height: 60px;
    width: 205px;
}


