@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed&display=swap');

/*Generales*/

:root{
    /*Paleta de Colores*/
    --claro: #ffedbf;
    --oscuro: #2e0d23;
    --naranja: #f7803c;
    --border: .1rem solid rgba(255,255,255,.3);
    /*Tipos de fuentes*/
}

/*Este codigo sirve para detener el scroll en secciones determinadas para que sea mas facil navegar*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

/*Codigo que se aplica en todo el html*/

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*codigo que se aplica a todo el body*/

body{
    background: var(--claro);
}

section{
  padding-top: 9%;
  min-height: calc(100vh - 5.38rem);
}

/* inicio de estilos para el header */

.header{
  align-items: center;
  background: var(--oscuro);
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 7%;
  position: absolute;
  top: 0; left: 0; right: 0;
  z-index: 1000;
}

.header .logo{
  background: rgba(255,255,255, 0);
  height: 2.56rem;
  width: 18.375rem;
}

.header .navbar a{
  background: rgba(255,255,255, 0);
  color: var(--claro);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.6rem; 
  padding: .5rem;
}

.btn{
  background-color: rgba(255,255,255, 0);
  border-color: var(--claro);
  color: var(--claro);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.6rem;
  padding: .5rem;
}

.btn:hover{
  background-color: var(--naranja);
}

.dropdown-menu{
  background: var(--oscuro);
  font-family: 'Bebas neue';
  font-size: 1.6rem;
}

.dropdown-menu li a{
  color: var(--claro);
}

/* inicio de estilos para tabla */

.container{
  border-radius: 8px;
  background: var(--oscuro);
  box-shadow: 0px 4px 20px 0px;
}

.container h2{
  padding-left: 1.8rem;
  padding-top: .75rem;
  color: var(--claro);
  font-family: 'Bebas Neue';
}

.container-fluid{
  border-radius: 8px;
  background: var(--claro);
  box-shadow: 0px 4px 20px 0px;
  height: 500px;
  overflow-y: scroll;
}

.table{
  border-color: var(--oscuro);
}

.table thead{
  text-align: center;
}

.table tbody{
  text-align: center;
}

.table tbody tr td{
  color: var(--oscuro);
  font-size: 1rem;
}

.btn-pedido{
  background-color: var(--naranja);
  border-radius: .25rem;
}

.boton{
  margin: 2rem 0 0 65%;
}

.boton div a{
  align-items: center;
  background-color: #f7803c;
  border-radius: 4px;
  color: var(--claro);
  cursor: pointer;
  font-family: 'Bebas Neue';
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin: 5px;
  text-decoration: none;
  width: 300px; 
}

.boton div a:hover{
  align-items: center;
  background: var(--oscuro);
  color: var(--naranja);
}

/* inicio de estilos para el footer */

.posicion-footer{
  bottom: 0%;
}

.footer{
  background-color: var(--oscuro);
  flex-direction: row;
}

.footer-izq {
  align-items: center;
  display: flex; 
  gap: 2rem;
  padding: 0 1.5rem;
}

.footer-izq h3{
  color: #ffedbf;
  font-family: "Saira Condensed";
  font-size: .75rem;
}

.footer-centro img{
  max-width: 19rem;
  max-height: 9rem;
}

.footer-derecho {
  color: var(--claro);
  padding-right: 1rem;
  padding: 1rem 1.5rem;
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer-derecho h2{
  font-family: "Saira Condensed";
  font-size: 1rem;
}

 /*media queries*/

 @media(width <= 991px){

  #menu-btn{
    display: inline-block;
  }

  html{
    font-size: 65%;
  }

  section{
    padding: 2rem 7%;
  }

  .header .navbar{
    background: var(--oscuro);
    position: absolute;
    flex-direction: column;
    top: 5rem; right: 0%;
    width: 20rem;
  }

  .header .logo img{
    height: 2.56rem;
    width: 18.375rem;
  }

  .header .navbar a{
    color: var(--claro);
    display: block;
    font-size: 2rem;
    margin: 1.5rem;   
  }

  .header .rightbar{
    background: var(--oscuro);
    position: absolute;
    flex-wrap: wrap;
    height: 7rem;
    justify-content: space-around;
    top: 33rem; right: 0%;
    width: 20rem;
  }

  .header .rightbar div{
    color: var(--claro);
    display: block;
    margin: .5rem;
  }  

  .header .navbar.active{
    right: 0;
  }
  
  .tracking-in-expand{
    width: 65%;
  }

  .nav-bg .nav-center img{
    width: 15%;
  }

  .nav-bg .nav-der svg{
    width: 40%;
  }
  
  .boton{
    margin: 2rem 0 0 56%;
  }

  .footer .footer-izq svg{
    height: 25%;
    width: 25%;
  }

  .footer-centro img{
    width: 65%;
    height: 65%;
  }

  .footer .footer-derecho h2{
    font-size: 1.5rem;
  }

  .footer .footer-derecho svg{
      width: 25%;
      height: 25%;
  }
}

@media(max-width: 450px){
  html{
      font-size: 50%;
  }
}